.outBox {

    background-color: #F5DDBE;
}
.card{


    background-color: #F5DDBE;
    border: brown;
}

.header{
    margin-top: -1rem;
    text-align: center;
    text-align: center;

    background: #F5DDBE;
}
.button {
 border-color: #B5966C;
    background-color: #F6E5C5;
    color: #B5966C;
    height:10px;
    width:200px;
    text-align: center;
    align-content: center;

    border-radius: 3rem;
  }